{% extends 'base.html' %}
{% block page_content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-container w3-center">
        <h1 class="w3-animate-left">Blog Details</h1>
        <h5 class="w3-animate-left">
            <img class="rounded-circle account-img card-img-top img-fluid"
                 src="{{ blog.photo.url }} "
                 style="cursor: pointer;"
                 width="400"
                 height="350"/>
        </h5>
        {% if author.first_name != "None" %}
            <h5 class="w3-animate-left">
                <b>Author:</b> <a href="{% url 'profile details' blog.user_id %}">{{author.get_full_name}}</a>
            </h5>
        {% else %}
            <h5 class="w3-animate-left">
                <b>Author:</b> <a href="{% url 'profile details' blog.user_id %}">{{author.email}}</a>
            </h5>
        {% endif %}
        <h5 class="w3-animate-left"><b>Date:</b> {{ blog.publication_date|date:"d.m.Y" }}</h5>
        <h5 class="w3-animate-left"><b>Title:</b> {{ blog.title }}</h5>
        <h5 class="w3-animate-left">
            <b>Description:</b> {{ blog.description }}
        </h5>
        
        {% if is_owner %}
            <a href="{% url 'edit blog' blog.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete blog' blog.pk %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
{% endblock page_content %}
